<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to ejs HomePage.</h1>
    <h3><%=1+4 %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil itaque ad corporis voluptatum nostrum a obcaecati nesciunt omnis, aspernatur vitae deleniti officia sit illo veritatis dolore! Minima accusamus delectus asperiores.</p>
</body>
</html>