body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;    /* 1 rem = 16px */
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 6rem 1.5rem;
    height: 80.8%;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width:  100%;
    height: 77px;
}

/* Nav style*/
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem ;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.75;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav-option i {
    font-size: 1.25rem; 
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}



/* Library style*/
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 76%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.lib-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: .75;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: .75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: .75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: .85rem;
    opacity: .9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight:bolder;
    margin-top: .5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons{
    margin-left: 0.75rem;
}
.sticky-nav-options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: white;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.75rem;
    opacity: .8;
}

.footer{
<<<<<<< HEAD
    height: 200px;
=======
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white ;
    opacity: .4;
}

.music-player {
    display: flex;
    align-items: center;
    justify-content: center;
}
.album {
    width: 25%;
    display: flex

}
.playing-album-info{
    line-height: .4rem;
    margin-top: 1.2rem;
}
.playing-album img{
    display: flex;
    height: 60px;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
}
.heart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.75rem;
    opacity: 0.75;
}
.heart-icon:hover{
    opacity: 1;
}

.player{
    width: 50%;

}

.controls {
    width: 25%;
    background-color: black;
    
}
.c1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c1 span{
    height: auto;
    font-size: 21px;
    opacity: .80;
    margin-right: .5rem;
}
.control-icon{
    margin-right: 15px;
    opacity: .70;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: .75;
    
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
>>>>>>> 7f9fbed56fd22388e222560341d16f60188e5202
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid #fff;
    opacity: .4;
=======
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer ;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: .2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color:#1bd760 ;
    border-radius: 50%;
    margin-top: -6px;

>>>>>>> 7f9fbed56fd22388e222560341d16f60188e5202
}